<p id="notice"><%= notice %></p>

<h1 class="page-header">Liste des magasins</h1>

<%= link_to 'Créer', new_shop_path %></br>

<div class="jumbotron">
<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Adresse</th>
      <th>Code Postal</th>
      <th>Ville</th>
      <th>Tel</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.name %></td>
        <td><%= shop.address %></td>
        <td><%= shop.zip %></td>
        <td><%= shop.city %></td>
        <td><%= shop.phone %></td>
        <td><%= link_to 'Voir', shop %></td>
        <td><%= link_to 'Editer', edit_shop_path(shop) %></td>
        <td><%= link_to 'Supprimer', shop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>

