<p id="notice"><%= notice %></p>

<h1 class="page-header">Détails boutique</h1>

<div class="jumbotron">
  <div class="row">
    <label class="col-md-4">Chaine de boutiques</label>
    <%= @shop.chain %>
  </div>
  <div class="row">
    <label class="col-md-4">Nom de la boutique</label>
    <%= @shop.name %>
  </div>
  <div class="row">
    <label class="col-md-4">Téléphone</label>
    <%= @shop.phone %>
  </div>
  </br></br>
  <div class="row">
    <label class="col-md-4">Adresse</label>
    <%= @shop.address %>
  </div>
  <div class="row">
    <label class="col-md-4">Code postal</label>
    <%= @shop.zip %>
  </div>
  <div class="row">
    <label class="col-md-4">Ville</label>
    <%= @shop.city %>
  </div>
  <div class="row">
    <label class="col-md-4">Code pays</label>
    <%= @shop.country_code %>
  </div>

  <h2> Coordonnées GPS </h2>
  <div class="row">
    <label class="col-md-4">Longitude</label>
    <%= @shop.longitude %>
  </div>
  <div class="row">
    <label class="col-md-4">Latitude</label>
    <%= @shop.latitude %>
  </div>

  </br></br>

  <div class="col-md-offset-4 col-md-10">
    <%= link_to 'Modifier', edit_shop_path(@shop), class:"btn btn-primary btn-md" %>
    <%= link_to 'Retour', shops_path, class:"btn btn-default btn-md" %>
  </div>

</div>
