<p id="notice"><%= notice %></p>

<h1>Nom: <%= @shop.name %></h1>

<div class="row">
  <strong>Chaine</strong>
  <p><%= @shop.chain %></p>
</div>
<div class="row">
  <strong>Telephone</strong>
  <p><%= @shop.phone %></p>
</div>
</br></br>
<div class="row">
  <strong>Adresse</strong>
  <p><%= @shop.address %></p>
</div>
<div class="row">
  <strong>Code postal</strong>
  <p><%= @shop.zip %></p>
</div>
<div class="row">
  <strong>Ville</strong>
  <p><%= @shop.city %></p>
</div>
<div class="row">
  <strong>Pays</strong>
  <p><%= @shop.country_code %></p>
</div>

<h2> Coordonnées GPS </h2>
<div class="row">
  <strong>longitude</strong>
  <p><%= @shop.longitude %></p>
</div>
<div class="row">
  <strong>Latitude</strong>
  <p><%= @shop.latitude %></p>
</div>

<%= link_to 'Editer', edit_shop_path(@shop) %> |
<%= link_to 'Retour', shops_path %>
